# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
.venv/

# Logs and data
*.log
*.db
*.sqlite
*.pkl
*.tmp

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
